.achievements{
    background: url(../media/shape/bg-lines.png);
    background-repeat: no-repeat;
    background-position: bottom;
    .achievement-block{
        &.second{
            margin-top: 60px;
            @include media-query(575px) {
                margin-top: 32px;
            }
        }
        &.third{
            margin-top: 100px;
            @include media-query(1199px) {
                margin-top: 0;
            }
            @include media-query(575px) {
                margin-top: 32px;
            }
        }
        &.fourth{
            margin-top: 140px;
            @include media-query(1199px) {
                margin-top: 60px;
            }
            @include media-query(575px) {
                margin-top: 32px;
            }
        }
        h2{
            font-family: $font-sec;
            font-weight: 400;
            font-size: 180px;
            line-height: 102%;
            letter-spacing: -0.015em;
            color: $light-gray;
            margin-bottom: 8px;
            transition: $transition;
            @include short-query(1400px , 1599px) {
                font-size: 155px;
            }
            @include short-query(1200px , 1399px) {
                font-size: 150px;
            }
            @include media-query(992px) {
                font-size: 150px;
            }
            @include media-query(767px) {
                font-size: 120px;
            }
        }
        p{
            color: $dark-1;
            margin-left: 43%;
            @include short-query(1400px , 1599px) {
                margin-left: 30%;
            }
            @include short-query(1200px , 1399px) {
                margin-left: 20%;
            }
            @include media-query(992px) {
                margin-left: 30%;
            }
            @include media-query(767px) {
                margin-left: 20%;
            }
        }
        &:hover{
            h2{
                color: $dark-1;
                transition: $transition;
            }
        }
    }
}