.categories{
    background-color: $white-2 !important;
    .category-block{
        display: flex;
        justify-content: space-between;
        padding: 32px;
        text-align: center;
        box-shadow: $soft-shadow;
        border-radius: 15px;
        background-color: $white-3;
        @include short-query(992px , 1599px) {
            padding: 32px 16px;
        }
        @include media-query(1199px) {
            margin-bottom: 30px;
        }  
        @include short-query(575px , 767px) {
            padding: 32px 16px;
        }
        @include media-query(380px) {
            padding: 32px 16px;
        }
        h6{
            display: flex;
            gap: 32px;
            font-size: 25px;
            font-weight: 600;
            line-height: 30px;
            letter-spacing: 1.25px;
            color: $dark-2;
            @include short-query(992px , 1599px) {
                gap: 16px;
                font-size: 22px;
            }
            @include short-query(575px , 767px) {
                gap: 16px;
                font-size: 22px;
            }
            @include media-query(380px) {
                gap: 16px;
                font-size: 22px;
            }
        }
        i{
            font-size: 24px;
        }
    }
}