.login{
    background: url(../media/banner/login.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .link-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;
        .formGroup2 {
            display: block;
            input {
                padding: 0;
                height: initial;
                width: initial;
                margin-bottom: 0;
                display: none;
                cursor: pointer;
            }
            label {
                position: relative;
                cursor: pointer;
                font-size: 16px;
                font-weight: 500;
                line-height: 160%;
                letter-spacing: 0.32px;
                color: $dark-2;
                @include media-query(490px) {
                    font-size: 14px;
                }
            }
            label:before {
                content: "";
                -webkit-appearance: none;
                border: 1px solid $dark-2;
                border-radius: 5px;
                padding: 10px;
                display: inline-block;
                position: relative;
                vertical-align: middle;
                cursor: pointer;
                margin-right: 8px;
                margin-top: -3px;
            }
            input:checked + label:after {
                content: "";
                display: block;
                position: absolute;
                top: 2px;
                left: 8px;
                width: 6px;
                height: 16px;
                z-index: 10;
                border: solid $dark-2;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }
        .f-pas{
            color: $dark-2;
        }
    }
    .link{
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: 0.32px;
        color: $light-gray;
        text-align: center;
        a{
            color: $dark-2;      
            font-weight: 500;
            transition: $transition;
            &:hover{
                color: $accent-1;
                transition: $transition;
            }
        }
    }
}