.match-times{
    background: url(../media/banner/next-match-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: $transition-2;
    .content{
        h4{
            font-weight: 400;
            font-size: 61px;
            line-height: 98%;
            letter-spacing: -0.025em;    
            color: $light-gray; 
            margin-bottom: 16px; 
            font-family: $font-sec;   
            transition: 1s;   
        }
        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: $light-gray; 
            letter-spacing: 0.02em;
            margin-bottom: 0px;           
        }
        .teams{
            margin: 64px 0;
            @include media-query(767px) {
                margin: 48px 0;
            }
            @include media-query(575px) {
                margin: 32px 0;
            }
            .team{
                display: flex;
                align-items: center;
                justify-content: start;
                @include media-query(1199px) {
                    justify-content: center;
                }
                @include media-query(575px) {
                    flex-direction: column;
                }
            }
            h5{
                font-weight: 700;
                font-size: 39px;
                line-height: 110%;
                letter-spacing: -0.01em;
                color: $dark-2;
                margin-bottom: 0;
                padding: 0 16px;
                @include media-query(1199px) {
                    font-size: 36px;
                }
                @include media-query(992px) {
                    font-size: 32px;
                }
                @include media-query(767px) {
                    font-size: 30px;
                }
                @include media-query(575px) {
                    font-size: 24px;
                    padding: 16px 0;
                }
            }
            .bold-text{
                font-weight: 400;
                font-size: 76px;
                line-height: 98%;
                letter-spacing: -0.015em;
                font-family: $font-sec;   
                color: $light-gray; 
                margin-bottom: 0;
                margin-top: 10px;
                align-items: center;
                @include media-query(1199px) {
                    font-size: 64px;
                }
            }
        }
    }
    &:hover{
        transition: $transition-2;
        .content{
            h4{
                background: $gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                transition: 1s;   
            }
        }
    }
}

.match-scheduled{
    background: url(../media/banner/next-match-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    .content{
        border-radius: 15px;
        margin-bottom: 64px;
        .teams{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 64px;
            background: $dark-2;
            padding: 64px 0;
            border-radius: 15px 15px 0 0;
            @include short-query(1200px , 1599px) {
                gap: 48px;
            }
            @include media-query(1199px) {
                flex-direction: column;
            }
            @include media-query(767px) {
                gap: 48px;
                padding: 48px 0;
            }
            @include media-query(575px) {
                padding: 32px 0;
                gap: 32px;
            }
            .team{
                display: flex;
                gap: 16px;
                align-items: center;
                justify-content: start;
                @include media-query(1199px) {
                    justify-content: center;
                }
                h5{
                    font-weight: 700;
                    font-size: 39px;
                    line-height: 110%;
                    letter-spacing: -0.01em;
                    color: $white-3;
                    margin-bottom: 0;
                    @include short-query(1400px , 1599px) {
                        font-size: 32px;
                    }
                    @include short-query(1200px , 1399px) {
                        font-size: 24px;
                    }
                    @include media-query(1199px) {
                        font-size: 36px;
                    }
                    @include media-query(992px) {
                        font-size: 32px;
                    }
                    @include media-query(767px) {
                        font-size: 30px;
                    }
                    @include media-query(575px) {
                        font-size: 24px;
                    }
                }
            }
            .bold-text{
                font-weight: 400;
                font-size: 76px;
                line-height: 98%;
                letter-spacing: -0.015em;
                font-family: $font-sec;   
                color: $white-3; 
                margin-bottom: 0;
                padding-top: 10px;
                align-items: center;
                @include short-query(1400px , 1599px) {
                    font-size: 64px;
                }
                @include short-query(1200px , 1399px) {
                    font-size: 56px;
                }
                @include media-query(1199px) {
                    font-size: 64px;
                }
            }
        }
        .venue{
            display: flex;
            justify-content: center;
            gap: 32px; 
            background: $gradient;
            padding: 16px 0;
            border-radius: 0 0 15px 15px;
            @include media-query(767px) {
                flex-direction: column;
                gap: 16px;
            }
            p{
                font-size: 25px;
                font-weight: 600;
                line-height: 120%;
                letter-spacing: 1.25px;
                color: $dark-2;
                @include media-query(767px) {
                    padding: 0 16px;
                }
            }          
        }
    }
}