.page-title-banner{
    background: url(../media/banner/page-title-benner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 0px;
    height: 500px;
    position: relative;
    @include media-query(992px) {
        height: 400px;
    }
    @include media-query(767px) {
        height: 300px;
    }
    .bread_crumb{
        position: absolute;
        bottom: -6px;
        z-index: 5;
        @include media-query(1399px) {
            left: -80px;  
        }
        @include media-query(992px) {
            overflow: hidden;
            height: 80px;
            bottom: 0px;
            left: -250px;
        }
        &:after{
            content: url(../media/shape/breadcrumb.png);
        }
    }
    .breadcrumb_wrap{
        padding-top: 400px;
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        display: flex;
        gap: 16px;
        align-items: center;
        position: relative;
        z-index: 10;
        margin-top: 400px;
        @include media-query(992px) {
            justify-content: end;   
            margin-top: 340px;
        }
        @include media-query(767px) {
            margin-top: 240px;
        }
        @include media-query(380px) {
            margin-top: 250px;
        }
        li{
            color: $white-2;
            font-size: 16px;
            font-weight: 500;
            line-height: 25.60px;
            letter-spacing: 0.32px;
            display: flex;
            align-items: center;
            margin-right: 8px;
            @include media-query(575px) {
                font-size: 14px;
                display: none;
            }
            &:before{
                content: url(../media/shape/breadcrumb-arrow.png);
                margin-top: 6px;
                display: flex;
                align-items: center;
                margin-right: 8px;
            }
            &.onpage{
                display: flex !important;
                visibility: visible;
                font-size: 39px;
                color: $white-2;
                font-family: $font-sec;
                font-weight: 400;
                line-height: 110%;
                @include media-query(575px) {
                    font-size: 32px;
                }   
                @include media-query(380px) {
                    font-size: 24px;
                }   
                &:before{
                    content: url(../media/shape/selected-arrows.png);
                    margin-top: 0;
                }           
            }    
            &:first-child{
                &:before{
                    content: "";
                }
            }
        }
    }
}