.sidebar{
    .sidebar-block{
        margin-bottom: 64px;
        .title{
            font-size: 25px;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: 1.25px;   
            color: $dark-2;      
            margin-bottom: 32px;  
        }
        .has-search {
            max-width: 550px;
            margin: 0 auto;
        }
        .blogs-list{
            display: grid;
            grid-template-columns: 1fr;
            justify-content: start;
            row-gap: 32px;
            @include media-query(1199px) {
                grid-template-columns: 1fr 1fr;
                column-gap: 32px;
            }
            @include media-query(767px) {
                grid-template-columns: 1fr;
                column-gap: 0;
            }

            .block{
                display: flex;
                align-items: flex-start;
                gap: 24px;
                flex-shrink: 0;
                align-self: stretch;
                background: $white-1;
                border-radius: 15px;
                box-shadow: 0px 0px 0px 0px rgba(23, 31, 24, 0.08), 0px 2px 4px 0px rgba(23, 31, 24, 0.08), 0px 7px 7px 0px rgba(23, 31, 24, 0.07), 0px 16px 10px 0px rgba(23, 31, 24, 0.04), 0px 29px 11px 0px rgba(23, 31, 24, 0.01), 0px 45px 13px 0px rgba(23, 31, 24, 0.00);

                @include short-query(1200px , 1599px) {
                    gap: 12px;
                }
                @include media-query(767px) {
                    gap: 12px;
                }
                .img-block{
                    align-self: stretch;
                    display: flex;
                    img{
                        border-radius: 15px 0 0 15px;
                        max-width: 120px;
                    }
                }
                .content{
                    padding: 8px;
                    .blog-title{
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 160%;
                        letter-spacing: 0.32px;
                        margin-bottom: 8px;
                        transition: $transition;
                        @include short-query(1200px , 1599px) {
                            font-size: 14px;
                            line-height: 150%;
                        }
                    }
                    .date{
                        font-size: 13px;
                        font-weight: 700;
                        line-height: 100%;
                        letter-spacing: 0.78px; 
                        color: $light-gray; 
                        @include short-query(1200px , 1599px) {
                            font-size: 12px;
                        }                    
                    }
                }
                &:hover{
                    .content{
                        .blog-title{
                            color: $accent-1;
                            transition: $transition;
                        }
                    }
                }
            }

        }
        .tags{
            display: flex;
            align-items: flex-start;
            gap: 16px;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            list-style: none;
            max-width: 575px;
            li{
                a{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 160%;
                    letter-spacing: 0.32px;   
                    color: $dark-1; 
                    @include media-query(575px) {
                        font-size: 14px;
                    }
                }
            }
        }
        .categories_{
            display: flex;
            align-items: flex-start;
            gap: 32px;
            row-gap: 16px;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            list-style: none;
            max-width: 575px;
            @include media-query(575px) {
                gap: 16px;
            }
            li{
                a{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 160%;
                    letter-spacing: 0.32px;   
                    color: $dark-3; 
                    padding: 8px;
                    background: $white-1;
                    box-shadow: $soft-shadow;
                    border-radius: 5px;
                    @include media-query(575px) {
                        font-size: 14px;
                    }
                }
            }
        }
        .newsletter_form{
            max-width: 575px;
        }
        .select{
            max-width: 575px;
        }
    }
}