img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul.list-style,
ol.list-style {
  padding: 0;
}

ul.list-style li::marker,
ol.list-style li::marker {
  color: $accent-1;
}

.unstyled {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-left: 15px;
  padding-right: 15px;
}

section:after {
  content: "";
  display: block;
  clear: both;
}
.container{
  @include short-query(1400px , 1920px) {
    max-width: 100%;
    padding-left: 96px;
    padding-right: 96px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (min-width: 575px) and (max-width: 1199px) {
  .container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.form-group {
  position: relative;
}

.form-control {
  background: transparent;
  border: 0;
  border-radius: 15px;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  position: relative;
  margin-bottom: 0;
  color: $light-gray;
  background: $white-2;
  box-shadow: $soft-shadow;
  &:focus {
    outline: 0;
    box-shadow: $soft-shadow;
  }
  &::placeholder {
    color: $light-gray;
    opacity: 1;
  }
}

.input-group {
  position: relative;
  background: $white-2;
  button{
    background: $accent-1;
    box-shadow: $soft-shadow;
    border-radius: 0 15px 15px 0;
    border: none;
    i{
      color: $dark-2;
      font-size: 22px;
      padding: 4px 12px;
    }
  }
}

.form-btn{
  color: $dark-2;
  background: $white-2;
  box-shadow: $soft-shadow;
  border-radius: 15px;
  border: none;
  padding: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.60px;
  letter-spacing: 0.32px;
  transition: $transition-2;
  &:hover{
    background: $gradient;
    transition: $transition-2;
  }
}

label {
  &.error {
    color: #bc0f0f;
    margin-top: 10px;
  }
}
.has-search{
  text-align: center;
  position: relative;
  margin-bottom: 64px;
  button{
   border: 0;
   background: transparent;
  }
  .form-control {
    padding-right: 32px;
  }
  .form-control-search {
    position: absolute;
    right: 18px;
    z-index: 2;
    display: block;
    font-weight: 400;
    font-size: 24px;
    padding-top: 16px;
    text-align: center;
    color: $dark-gray;
  }
}
.alert-message {
  color: $accent-1;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  border: 0 !important;
  background: $white-2;
  background-image: none;
  flex: 1;
  padding: 16px;
  color: $light-gray;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  box-shadow: $soft-shadow;
  border-radius: 15px;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 100%;
  border-radius: 15px;
}
.select::after {
  content: "\f078";
  font-family: $font-awesome;
  color: $light-gray;
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: $accent-1;
}

.star-cb-group {
  font-size: 0;
  unicode-bidi: bidi-override;
  direction: rtl;
  margin-bottom: 24px;
}

.star-cb-group * {
  font-size: 1rem;
}

.star-cb-group>input {
  display: none;
}

.star-cb-group label {
  margin: 0;
  height: 34px;
  font-size: 30px;
  margin-top: -5px;
}

.star-cb-group>input+label {
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  line-height: 48px;
  white-space: nowrap;
  cursor: pointer;
}

.star-cb-group>input+label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: #DD962C;
}

.star-cb-group>input:checked~label:before,
.star-cb-group>input+label:hover~label:before,
.star-cb-group>input+label:hover:before {
  content: "★";
  color: #DD962C;
  text-shadow: 0 0 1px #DD962C;
}

.star-cb-group>.star-cb-clear+label {
  text-indent: -9999px;
  width: 0.5em;
  margin-left: -0.5em;
}

.star-cb-group>.star-cb-clear+label:before {
  width: 0.5em;
}

.star-cb-group:hover>input+label:before {
  content: "☆";
  color: #DD962C;
  text-shadow: none;
}

.star-cb-group:hover>input+label:hover~label:before,
.star-cb-group:hover>input+label:hover:before {
  content: "★";
  color: #DD962C;
  text-shadow: 0 0 1px #DD962C;
}

.vizard{
  margin-bottom: 64px;
  .vizard-list{
    margin: 0 auto;
    display: flex;
    gap: 16px;
    max-width: 554px;
    padding: 24px;
    align-items: center; 
    border-radius: 15px;
    background: $white-2;
    box-shadow: $soft-shadow;
    @include media-query(575px) {
      padding: 12px;
    }
    li{
      font-size: 25px;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: 1.25px;
      color: $light-gray;
      margin: 0 auto;
      @include media-query(575px) {
        font-size: 20px;
      }
      @include media-query(400px) {
        font-size: 16px;
      }
      &.active{
        display: flex !important;
        gap: 16px;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 10px;
        min-width: 303px;
        font-size: 39px;
        color: $white-2;
        font-family: $font-sec;
        font-weight: 400;
        line-height: 110%; 
        border-radius: 15px;
        background: $dark-2;
        &:before{
            content: url(../media/shape/selected-arrows.png);
            display: flex !important;
            align-items: center;
        }  
        @include media-query(575px) {
          min-width: auto;
          padding: 10px 48px;
          font-size: 30px;
        }
        @include media-query(400px) {
          padding: 10px 24px;
          font-size: 24px;
        }
      }
    } 
  }
}


.newsletter-popup{
  width: 100%;
  height: 100vh;
  position: fixed;
  opacity: 0 ;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  background: rgba(0,0,0, 0.7);
  z-index: -10;
  .close {
    text-align: end;
    font-size: 32px;
    color: $white-2;
    background: none;
    border: none;
    box-shadow: none;
    &:hover{
        color: $accent-1;
    }
  }
  .block{
    text-align: center;
    max-width: 550px;
    background: $white-2;
    box-shadow: $soft-shadow;
    border-radius: 15px;
    padding: 64px;
    p{
      font-size: 20px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 1.25px;
      color: $dark-2;
      padding: 0 16px;   
      margin-bottom: 48px;  
    }
    .newsletter{
      text-align: center;
      margin: 0 auto;
      max-width: 555px;
    }
  }
}
/*-------------------------
    Typography
-------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  color: $dark-gray;
  background: $white-1;
  font-weight: 400;
  background-color: $white-1;
  height: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
address,
p,
pre,
blockquote,
table,
hr {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark-1;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.02em;
}

a {
  display: inline-block;
  text-decoration: none;
  color: unset;

  &:hover{
    color: $accent-1;
    transition: $transition-2;
  }
}

b,
strong {
  font-family: $font-primary;
}

ol, ul {
  padding-left: 1rem;
}

// .card {
//   background: transparent;
//   border: none;
//   padding: 0;

//   .card-header {
//     background: transparent;
//     border: none;
//     padding: 0;

//     .nav-tabs {
//       text-align: center;
//       width: 90%;
//       margin: 0 auto;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       list-style: disc;

//       // justify-content: space-between;
//       @include media-query(1499px) {
//         width: 100%;
//       }

//       li {
//         padding: 0 48px 0 0;
//         margin: 0;

//         a {
//           padding: 0;
//           font-size: 21px;
//           font-weight: 600;
//           color: $dark-gray;
//           line-height: 37px;

//           @include media-query(992px) {
//             font-size: 20px;
//           }

//           @include media-query(490px) {
//             font-size: 18px;
//           }

//           @include media-query(380px) {
//             font-size: 16px;
//           }

//           &.active {
//             color: $accent-1;
//           }

//           &:hover {
//             color: $accent-1;
//           }
//         }
//       }
//     }
//   }

//   .card-body {
//     padding: 0;
//     margin: 0;
//   }
// }

// .overlay {
//   top: calc(50% - 32px);
//   left: calc(50% - 32px);

//   .icon {
//     width: 64px;
//     height: 64px;
//     padding: 22px;
//     border: 4px solid $white-2;
//     border-radius: 50px;
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     i {
//       font-size: 21px;
//       color: $white-2;
//     }
//     &:hover{
//       border: 4px solid $accent-1;
//       i {
//         color: $accent-1;
//       }

//     }
//   }
// }