{% extends '../baseRec.html.twig' %}

{% block title %}Edit Reclamation{% endblock %}

{% block body %}
 <div style="margin-top: 300px; margin-left: 600px;">
    <h1>Edit Reclamation</h1>

    {{ include('reclamation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reclamation_index') }}">back to list</a>

    {{ include('reclamation/_delete_form.html.twig') }}
    </div>
{% endblock %}
