.color-primary{color:$accent-1 !important}
.color-white-1{color:$white-1 !important }
.color-white-2{color:$white-2 !important }
.color-white-3{color:$white-3 !important }
.color-dark-1{color:$dark-1 !important}
.color-dark-2{color:$dark-2 !important}
.color-dark-3{color:$dark-3 !important}
.color-dark-gray{color:$dark-gray !important}
.color-light-gray{color:$light-gray !important}
.bg-primary{background-color:$accent-1 !important;}
.bg-white-1{background-color: $white-1 !important;}
.bg-white-2{background-color: $white-2 !important;}
.bg-white-3{background-color: $white-3 !important;}
.bg-dark-1{background-color:$dark-1 !important}
.bg-dark-2{background-color:$dark-2 !important}
.bg-dark-3{background-color:$dark-3 !important}
.bg-dark-gray{background-color: $dark-gray !important}
.bg-light-gray{background-color:$light-gray !important}

.bgcolor1{
    background: #EE6E5F;
}
.bgcolor2{
    background: #93D26C;
}
.bgcolor3{
    background: #6555D8;
}

.fw-3{
    font-weight: 300;
}
.fw-4{
    font-weight: 400;
}
.fw-5{
    font-weight: 500;
}
.fw-6{
    font-weight: 600;
}
.fw-7{
    font-weight: 700;
}
