.promotional-banner{
    background: url(../media/banner/promotional-banner.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    padding: 96px 0 160px;
    @include media-query(992px) {
        padding: 96px 0;
    }
    @include media-query(575px) {
        padding: 48px 0;
    }
    h6{
        font-weight: 400;
        font-size: 31px;
        line-height: 118%;
        letter-spacing: 0.03em;   
        color: $white-3; 
        margin-bottom: 8px;
        margin-right: 250px;  
        @include media-query(575px) {
            font-size: 24px;
            margin-right: 0;
        } 
    }
    h3,
    .cc{
        font-weight: 400;
        font-size: 76px;
        line-height: 98%;
        font-family: $font-sec;
        letter-spacing: -0.015em;
        color: $white-3;
        text-shadow: 0px 29px 11px rgba(23, 31, 24, 0.01), 0px 16px 10px rgba(23, 31, 24, 0.04), 0px 7px 7px rgba(23, 31, 24, 0.07), 0px 2px 4px rgba(23, 31, 24, 0.08), 0px 0px 0px rgba(23, 31, 24, 0.08);
        @include media-query(575px) {
            font-size: 48px;
        } 
    }
    p{
        color: $white-3;
    }
}
.promotional-banner-2{
    background: url(../media/banner/promotional-banner-2.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    padding: 96px 0 ;
    position: relative;
    @include media-query(767px) {
        padding: 64px 0;
    }
    @include media-query(575px) {
        padding: 48px 0;
    }
    .logo{
        margin-bottom: 64px;
        @include media-query(767px) {
            margin-bottom: 48px;
        }
        @include media-query(575px) {
            margin-bottom: 32px;
        }
    }
    .content{
        position: relative;
        width: 850px;
        @include media-query(1199px) {
            width: auto;
        }
        h2{
            font-family: $font-sec;
            margin-bottom: 16px;
            font-size: 180px;
            font-weight: 400;
            line-height: 103%;
            margin-bottom: 0;
            -webkit-text-stroke:2px $white-2;
                -webkit-text-fill-color:transparent;
            @include media-query(1199px) {
                font-size: 140px;
            }
            @include media-query(767px) {
                font-size: 100px;
            }
            @include media-query(512px) {
                font-size: 80px;
            }
            @include media-query(410px) {
                font-size: 70px;
            }
            @include media-query(350px) {
                font-size: 60px;
            }
        }
        h3{
            font-size: 76px;
            font-family: $font-sec;
            font-weight: 400;
            line-height:105%; 
            margin-bottom: 64px; 
            color: $white-2;
            @include media-query(1199px) {
                font-size: 64px;
            }
            @include media-query(767px) {
                font-size: 42px;
                margin-bottom: 48px;
            }
            @include media-query(512px) {
                font-size: 32px;
                margin-bottom: 32px;
            }
            @include media-query(410px) {
                font-size: 24px;
            }
        }
        p{
            font-size: 31px;
            font-weight: 400;
            line-height: 130%;
            letter-spacing: 0.93px;
            color: $light-gray;
            margin-bottom: 64px;
            @include media-query(1199px) {
                font-size: 28px;
            }
            @include media-query(767px) {
                font-size: 24px;
                margin-bottom: 48px;
            }
            @include media-query(512px) {
                font-size: 20px;
                margin-bottom: 32px;
            }
            @include media-query(410px) {
                font-size: 16px;
            }
            b{
                font-size: 39px;
                font-family: $font-sec;
                font-weight: 400;
                line-height: 110%;
                color: $white-2;
                @include media-query(1199px) {
                    font-size: 36px;
                }
                @include media-query(767px) {
                    font-size: 30px;
                }
                @include media-query(512px) {
                    font-size: 24px;
                }
                @include media-query(410px) {
                    font-size: 18px;
                }
            }
        }
        .social-links{
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-bottom: 0;
        }
    }
}