.about{
    background: url(../media/banner/about-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    position: relative;
    .content{
        h5{
            color: $dark-2;
            font-size: 39px;
            font-weight: 700;
            line-height: 42.90px;  
            margin-bottom: 8px;          
        }
        p{
            color: $dark-2;
        }
    }
}
.video{
    position: relative;
    border-radius: 15px;
    .img-box {
        border-radius: 15px;
        position: relative;
        width: 100%;
        height: 539px;
        @include media-query(767px) {
            height: 350px;
        }
        @include media-query(492px) {
            height: 250px;
        }
        .detail-image {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            object-fit: cover;
        }
        .video-overlay {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            border-radius: 15px;
            .play-btn {
                color: $white-3;
                font-size: 35px;
                position: absolute;
                top: 50%;
                left: 50%;
                border: 2px solid $white-3;
                width: 75px;
                height: 75px;
                padding: 10px 24px;
                text-align: center;
                border-radius: 50px;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                text-align: center;
            }
        }
    }
    .video-box {
        display: none;
        border-radius: 15px;
        video {
            border-radius: 15px;
            width: 100%;
            height: 539px;
            object-fit: cover;
            border: none;
            @include media-query(767px) {
                height: 350px;
            }
            @include media-query(492px) {
                height: 250px;
            }
        }
    }
}