.checkout{
    .upper-row{
        padding: 32px 16px;
        margin-bottom: 64px;
        border-radius: 15px;
        background: $white-2;
        box-shadow: $soft-shadow;
        p{
            font-size: 25px;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: 1.25px;
            color: $light-gray;
            a{
                color: $dark-1;
            }
        }
    }
    .title{
        font-size: 25px;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 1.25px;   
        color: $dark-2;    
        margin-bottom: 32px;
    }
    .billing-row{
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: space-between;
        margin-bottom: 32px;
        .title{
            margin-bottom: 0px;
        }
        .formGroup2 {
            display: block;
            @include media-query(492px) {
                text-align: start;
            }
            input {
                padding: 0;
                height: initial;
                width: initial;
                margin-bottom: 0;
                display: none;
                cursor: pointer;
            }
            label {
                position: relative;
                cursor: pointer;
                font-size: 16px;
                font-weight: 500;
                line-height: 160%;
                letter-spacing: 0.32px;
                color: $dark-2;
                @include media-query(492px) {
                    font-size: 14px;
                }
            }
            label:before {
                content: "";
                -webkit-appearance: none;
                border: 1px solid $dark-2;
                border-radius: 5px;
                padding: 10px;
                display: inline-block;
                position: relative;
                vertical-align: middle;
                cursor: pointer;
                margin-right: 8px;
                margin-top: -3px;
            }
            input:checked + label:after {
                content: "";
                display: block;
                position: absolute;
                top: 2px;
                left: 9px;
                width: 6px;
                height: 16px;
                z-index: 10;
                border: solid $dark-2;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                @include media-query(492px) {
                    left: 8px;
                }
            }
        }
    }
}