.club-inside{
    .description{
        margin-left: 342px;
        margin-bottom: 64px;
        color: $dark-gray;
        @include media-query(1399px) {
            margin-left: 270px;
        }  
        @include media-query(992px) {
            margin-left: 0;
        }  
    }
    img{
        border-radius: 15px;
    }
}
.club-inside-2{
    .description{
        margin-left: 342px;
        margin-bottom: 64px;
        color: $dark-2;
        @include media-query(1399px) {
            margin-left: 270px;
        }  
        @include media-query(1199px) {
            margin-bottom: 32px;
        }  
        @include media-query(992px) {
            margin-left: 0;
        }  
    }
    img{
        border-radius: 15px;
        margin-bottom: 64px;
        @include media-query(1199px) {
            margin-bottom: 32px;
        }  
    }
}