.coming-soon-area{
    p{
        font-size: 25px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 1.25px;
        color: $dark-2;   
        padding: 0 16px 32px;  
    }
    .newsletter{
        text-align: center;
        margin: 0 auto;
        max-width: 555px;
    }
}