.contact{
    background: url(../media/banner/bg-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .map{
        @include media-query(767px) {
            margin-top: 32px;
        }
        iframe{
            width: 100%;
            border-radius: 15px;
            margin-bottom: 48px;
        }
    }
    .contact-block{
        box-shadow: $soft-shadow;
        border-radius: 15px;
        background-color: $white-2;
        text-align: center;
        padding: 48px 16px 16px;
        @include short-query(768px , 1599px) {
            padding: 48px 8px 16px;
        }
        @include media-query(767px) {
            margin-bottom: 32px;
        }
        p{
            font-size: 25px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 1.25px;           
            margin-bottom: 16px;
            color: $dark-2;
            @include short-query(768px , 1599px) {
                font-weight: 600;
                margin-bottom: 12px;
                font-size: 18px;
            }
            @include media-query(350px) {
                font-weight: 600;
                margin-bottom: 12px;
                font-size: 18px;
            }
        }
    }
}
.contact-section{
    background: url(../media/banner/form-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}