.footer{
    background: url(../media/banner/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .main{
        margin-top: 32px;
        border-width: 2px 0 2px 0;
        border-style: solid;
        border-color: $light-gray;
        padding: 32px 0 78px;
        @include media-query(575px) {
            padding: 32px 0 48px;
        }
        .footer-widget{
            @include media-query(1199px) {
                margin-bottom: 48px; 
            } 
            .title{
                font-size: 39px;
                font-weight: 700;
                line-height: 110%;
                letter-spacing: -0.39px;           
                color: $light-gray;
                margin-bottom: 32px;
            }
            .open-hours{
                list-style: none;
                padding: 0;
                li{
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 160%;
                    letter-spacing: 0.32px;
                    margin-bottom: 16px; 
                    color: $white-3;              
                    width: 35%;
                    @include media-query(400px) {
                        width: 49%; 
                    } 
                }
            }
            .popup-btn{
                cursor: pointer;
                font-size: 76px;
                font-family: $font-sec;
                line-height: 98%;
                letter-spacing: -1.14px;
                color: $light-gray;
                text-align: center;  
                margin: 0 auto; 
                display: block;
                margin-bottom: 8px;
                transition: $transition-2;
                &:hover{
                    color: $accent-1;
                    transition: $transition-2;
                }
                @include media-query(1199px) {
                    text-align: start;   
                }             
                @include media-query(575px) {
                    font-size: 48px;   
                }             
            }
            .sub{
                font-size: 13px;
                font-weight: 700;
                line-height: 160%;
                letter-spacing: 0.78px;
                color: $light-gray;
                margin-bottom: 32px;
                text-align: center; 
                @include media-query(1199px) {
                    text-align: start;   
                }                 
            }
            .footer-social-links{
                width: 100%;
                padding: 0;
                list-style: none;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                gap: 32px;
                margin-bottom: 0;
                @include media-query(1199px) {
                    justify-content: start; 
                }   
                li{
                    margin-bottom: 0;
                }
            }
            .contact-list{
                list-style: none;
                padding: 0;
                li{
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 160%;
                    letter-spacing: 0.32px;
                    margin-bottom: 16px;
                    color: $white-3;              
                }
            }
            &.up-space{
                margin-top: 48px;
                @include media-query(1199px) {
                    margin-top: 0;
                } 
            }
        }
    }
    .copyright-text{
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0.32px;
        padding: 32px 0;
        color: $white-3;       
    }    
}