.hero-banner-1 {
    background: url(../media/banner/bg-1.png);
    background-repeat: no-repeat;
    // background-position: bottom;
    background-position: left;
    background-size: cover;
    margin-top: 174px;
    height: 1020px;
    position: relative;
    @include media-query(992px) {
        margin-top: 78px;
        background-position: left;
        height: 800px;
    }
    @include media-query(767px) {
        height: 670px;
    }
    @include media-query(575px) {
        height: 550px;
    }
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: url(../media/banner/hand.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .title{
        padding: 96px 0 52px;
        @include media-query(575px) {
            padding: 96px 0 63px;
        }
        h6{
            font-weight: 400;
            font-size: 31px;
            line-height: 118%;
            letter-spacing: 0.03em;
            color: $white-2;
            @include media-query(992px) {
                font-size: 27px;
            }
            @include media-query(767px) {
                font-size: 24px;
            }
            @include media-query(575px) {
                font-size: 22px;
            }
            @include media-query(360px) {
                font-size: 20px;
            }
        }
        h2{
            font-family: $font-sec;
            font-weight: 400;
            font-size: 180px;
            line-height: 102%;
            letter-spacing: -0.015em;
            color: $dark-2;
            @include media-query(992px) {
                font-size: 140px;
            }
            @include media-query(767px) {
                font-size: 105px;
            }
            @include media-query(575px) {
                font-size: 70px;
            }
            @include media-query(360px) {
                font-size: 60px;
            }
        }
    }
    .content-block{
        h4{
            font-family: $font-sec;
            font-weight: 400;
            font-size: 49px;
            line-height: 98%;
            letter-spacing: -0.01em;
            color: $white-2;
            @include media-query(992px) {
                font-size: 42px;
            }
            @include media-query(767px) {
                font-size: 36px;
            }
            @include media-query(575px) {
                font-size: 32px;
            }
        }
        p{
            padding-left: 105px;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0.04em;
            color: $white-2;
            margin-bottom: 32px;
            @include media-query(992px) {
                font-size: 14px;
            }
            @include media-query(575px) {
                padding-left: 0;
            }
        }
    }
    button{
        margin-left: 180px;
        @include media-query(575px) {
            margin-left: 0;
        }
    }
}
.hero-banner-2 {
    background: url(../media/banner/banner-bg2.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    margin-top: 66px;
    height: 1098px;
    position: relative;
    @include short-query(992px , 1399px) {
        background-position: -64px;
    }
    @include short-query(992px , 1199px) {
        height: 1020px;
    }
    @include media-query(992px) {
        height: 900px;
        background-position: -124px;
    }
    @include media-query(575px) {
        background-position: -64px;
        height: 600px;
    }
    @include media-query(410px) {
        background-position: -96px;
    }
    .content{
        position: relative;
        padding-top: 150px;
        padding-left: 180px;
        @include media-query(575px) {
            padding-top: 120px;
            padding-left: 120px;          
        }
        @include media-query(410px) {
            padding-left: 96px;   
        }
        .vertical-text{
            position: absolute;
            left: -300px;
            top: 450px;
            transform: rotate(-90deg);
            font-family: $font-sec;
            font-weight: 400;
            font-size: 180px;
            line-height: 102%;
            letter-spacing: -2.7px;
            color: $white-3;
            @include media-query(992px) {
                font-size: 140px;
                left: -238px;
                top: 378px;
            }
            @include media-query(767px) {
                font-size: 120px;
                left: -207px;
                top: 350px;
            }
            @include media-query(575px) {
                font-size: 100px;
                left: -164px;
                top: 287px;
            }
            @include media-query(410px) {
                font-size: 90px;
                left: -150px;
                top: 270px;
            }
        }
        .title{
            font-size: 39px;
            font-weight: 700;
            line-height: 110%;
            letter-spacing: -0.39px;
            color: $white-3;
            padding-bottom: 32px;
            width: fit-content;
            border-bottom: 8px solid $white-3;
            @include media-query(575px) {
                font-size: 32px;
            }          
        }
        .detail{
            width: 288px;
            margin: 16px 0 64px 108px;
            color: $white-3;
            @include media-query(767px) {
                margin: 16px 0 48px 64px;
            }
            @include media-query(575px) {
                width: auto;
                margin: 16px 0 48px 48px;
            } 
            @include media-query(410px) {
                margin: 16px 0 48px 24px;
            }
        }
        a{
            margin-left: 108px;
            @include media-query(767px) {
                margin-left: 64px;
            }
            @include media-query(575px) {
                margin-left: 48px;
            }
            @include media-query(410px) {
                margin-left: 24px;
            }
        }
    }
    .next-game-block{
        position: absolute;
        right: 0;
        bottom: 238px;
        border-radius: 15px 0px 0px 15px;
        background: $dark-2;
        border: 2px solid $white-2;
        border-right: none;
        @include short-query(992px , 1199px) {
            bottom: 130px;
        }
        @include media-query(992px) {
            bottom: 100px;
        }
        @include media-query(575px) {
            display: none;
        }
        .content{
            padding: 24px 96px 24px 24px;
            @include media-query(1399px) {
                padding-right: 30px;
            }
            .block-title{
                display: inline-flex;
                align-items: center;
                padding-bottom: 8px;
                margin-bottom: 8px;
                border-bottom: 2px solid $white-2;
                img{
                    margin-right: 16px;
                }
                h3{
                    font-family: $font-sec;
                    font-weight: 400;
                    font-size: 61px;
                    line-height: 98%;
                    letter-spacing: -1.525px;
                    color: $white-2;
                    @include media-query(992px) {
                        font-size: 56px;
                    }
                    @include media-query(767px) {
                        font-size: 48px;
                    }
                    @include media-query(575px) {
                        font-size: 42px;
                    }
                }
            }
            h6{
                font-weight: 400;
                font-size: 31px;
                line-height: 118%;
                letter-spacing: 0.93px;
                color: $white-2;
                margin-bottom: 16px;
                @include media-query(992px) {
                    font-size: 28px;
                }
                @include media-query(767px) {
                    font-size: 24px;
                }
                @include media-query(575px) {
                    font-size: 22px;
                }
                @include media-query(360px) {
                    font-size: 20px;
                }  
            }
            h2{
                font-family: $font-sec;
                font-size: 76px;
                line-height: 98%;
                letter-spacing: -1.14px; 
                margin-bottom: 8px;
                color: $accent-1; 
                @include media-query(992px) {
                    font-size: 64px;
                }
                @include media-query(767px) {
                    font-size: 54px;
                }
                @include media-query(575px) {
                    font-size: 48px;
                }
                @include media-query(360px) {
                    font-size: 42px;
                }            
            }
            p{
                color: $light-gray;
                margin-bottom: 0px;
                @include media-query(992px) {
                    font-size: 14px;
                }
            }
        }
    }
}
.hero-banner-3 {
    background: url(../media/banner/banner-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    margin-top: 0px;
    height: 1020px;
    position: relative;
    @include media-query(1199px) {
        height: 900px;  
    }
    .end-text{
        position: relative;
        padding-top: 152px;
        text-align: right;
        @include media-query(410px) {
            padding-top: 130px;
        }
        h6{
            font-size: 39px;
            font-weight: 700;
            line-height: 110%;    
            color: $dark-1;
            @include media-query(767px) {
                font-size: 32px;
            }
            @include media-query(575px) {
                font-size: 24px;
            } 
            b{
                color: $white-3;
            }   
        }
    }
    .content{
        height: 100%;
        position: relative;
        z-index: 50;
        padding-top: 45px;
        @include media-query(410px) {
            padding-top: 32px;
        }  
        .title{
            font-size: 76px;
            font-family: $font-sec;
            font-weight: 400;
            line-height: 98%;
            letter-spacing: -1.14px; 
            color: $white-3;
            padding-bottom: 16px;
            @include media-query(767px) {
                font-size: 64px;
            }
            @include media-query(575px) {
                font-size: 54px;
            }          
        }
        .sub-title{
            font-size: 39px;
            color: $white-3;
            font-weight: 700;
            line-height: 110%;
            background-color: $dark-2;
            width: fit-content;
            border-radius: 15px;
            padding: 24px; 
            margin-bottom: 32px;
            margin-left: 150px;  
            @include media-query(1199px) {
                font-size: 32px;
                padding: 12px; 
                margin-left: 100px;  
            }
            @include media-query(767px) {
                font-size: 24px;
                margin-left: 64px;  
            }
            @include media-query(575px) {
                font-size: 22px;
                margin-bottom: 24px;
            }
            @include media-query(410px) {
                margin-left: 24px;
            }
        }
        .detail{
            width: 323px;
            margin: 0px 0 64px 410px;
            color: $dark-1;
            @include media-query(1199px) {
                margin-left: 200px; 
            }
            @include media-query(767px) {
                margin: 0 0 48px 64px;
            }
            @include media-query(575px) {
                width: auto;
                margin-bottom: 32px;
            } 
            @include media-query(410px) {
                margin: 16px 0 32px 24px;
            }
            br{
                @include media-query(410px) {
                    display: none;
                }
            }
            b{
                font-size: 25px;
                font-family: $font-sec;
                color: $dark-2;
                font-weight: 400;
                line-height: 30px;               
            }
        }
        a{
            margin-left: 410px;
            @include media-query(1199px) {
                margin-left: 200px; 
            }
            @include media-query(767px) {
                margin-left: 64px;
            }
            @include media-query(575px) {
                margin-left: 48px;
            }
            @include media-query(410px) {
                margin-left: 24px;
            }
        }
    }
    .product{
        position: absolute;
        z-index: 40;
        right: 0;
        bottom: 0;
        @include media-query(1799px) {
            right: -100px;
            width: 70%;
        }
        @include media-query(1399px) {
            right: -100px;
            width: 60%;
        }
        @include media-query(992px) {
            bottom: 100px;
        }
        @include media-query(767px) {
            width: 70%;
            right: -50px;
            bottom: 150px;
        }
        @include media-query(575px) {
            width: 80%;
            right: -50px;
            bottom: 150px;
        }
        @include media-query(410px) {
            right: 0px;
        }
    }
    .social-links{
        position: absolute;
        left: 96px;
        bottom: 32px;
        display: inline-flex;
        align-items: center;
        gap: 32px;
        padding: 0;
        margin-bottom: 0;
        list-style: none;
        li{
            margin-bottom: 0;
        }
        @include media-query(410px) {
            left: 24px;
        }
    }
}