.insta_feed{
    background: url(../media/banner/feed-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    .feed{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 76px;
        @include media-query(575px) {
            padding: 0;
        }   
    }  
    .insta-link{
        @include media-query(1199px) {
            padding-top: 48px;
            text-align: center;
        }
        @include media-query(575px) {
            padding-top: 24px;
        }   
        a{
            i{
                font-size: 48px;
                color: $dark-2;
                margin-right: 8px;
                @include short-query(1200px , 1550px) {
                    font-size: 32px;
                }
                @include media-query(767px) {
                    font-size: 32px;
                }
            }
            span{
                font-weight: 600;
                font-size: 31px;
                line-height: 118%;
                letter-spacing: 0.03em;
                color: $dark-2;
                @include short-query(1200px , 1550px) {
                    font-size: 24px;
                }
                @include media-query(767px) {
                    font-size: 24px;
                }                      
            }
            &:hover{
                transition: $transition;
                background: $gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }
    }
}
.chronicles{
    .feed{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 55px;
        @include media-query(575px) {
            padding-top: 32px;
        }   
    }   
    .link{
        padding-top: 48px;
        text-align: center;
        @include media-query(575px) {
            padding-top: 24px;
        }   
        a{
            i{
                font-size: 48px;
                color: $dark-2;
                margin-right: 8px;
                @include short-query(1200px , 1550px) {
                    font-size: 32px;
                }
                @include media-query(767px) {
                    font-size: 32px;
                }
            }
            span{
                font-weight: 600;
                font-size: 31px;
                line-height: 118%;
                letter-spacing: 0.03em;
                color: $dark-2;
                @include short-query(1200px , 1550px) {
                    font-size: 24px;
                }
                @include media-query(767px) {
                    font-size: 24px;
                }                      
            }
            &:hover{
                transition: $transition;
                background: $gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }
    }
}