.player-detail{
    background: url(../media/banner/bg-3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .detail{
        .player-image{
            box-shadow: $soft-shadow;
            border-radius: 15px;
            margin-bottom: 32px;
        }
        .content{
            margin-bottom: 32px;
            .title{
                font-size: 16px;
                font-weight: 500;
                line-height: 160%;
                letter-spacing: 0.32px;   
                margin-bottom: 8px;
                color: $dark-2;        
            }
            h3{
                font-size: 39px;
                line-height: 110%;
                letter-spacing: -0.39px;  
                font-family: $font-sec;
                color: $dark-3;         
                margin-bottom: 32px;
                @include media-query(575px) {
                    font-size: 32px;
                }
            }
            h5{
                font-size: 25px;
                font-family: $font-sec;
                line-height: 120%;
                letter-spacing: 1.25px;  
                color: $dark-3; 
                @include media-query(575px) {
                    font-size: 22px;
                }        
            }
            .blocks{
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: start;
                row-gap: 32px;
                margin-bottom: 64px;
            }
            p{
                color: $dark-gray;
            }
        }
        .player-achievements{
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: start;
            row-gap: 32px;
            @include media-query(767px) {
                margin-bottom: 48px;
            }
            .block{
                h3{
                    font-size: 76px;
                    font-family: $font-sec;
                    line-height: 98%;
                    letter-spacing: -1.14px;
                    color: $light-gray; 
                    margin-bottom: 8px;
                    @include media-query(575px) {
                        font-size: 64px;
                    }
                    @include media-query(400px) {
                        font-size: 48px;
                    }
                }
                p{
                    color: $dark-1;
                }
            }
        }
        .player-social-links{
            .title{
                font-size: 25px;
                font-family: $font-sec;
                line-height: 120%;
                letter-spacing: 1.25px;  
                color: $dark-3; 
                margin-bottom: 32px;             
            }
            .links{
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: start;
                row-gap: 32px;
                list-style: none;
                margin-bottom: 0;
                padding: 0;
                li{
                    a{
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        color: $dark-1;
                        @include media-query(400px) {
                            gap: 8px;
                        }
                        &:hover{
                            color: $accent-1;
                        }
                    }
                }
            }
        }
    }
}