.shop-grid{
    .product-card{
        margin: 0 0 30px;
        position: relative;
        box-shadow: $soft-shadow;
        overflow: hidden;
        border-radius: 15px;
        .title{
            position: absolute;
            top: 16px;
            left: 16px;
            font-size: 25px;
            font-weight: 600;
            line-height: 120%;
            letter-spacing: 1.25px;
            color: $dark-2;
            @include short-query(992px , 1399px) {
                font-size: 18px;
            }
            @include short-query(575px , 767px) {
                font-size: 18px;
            }
            @include media-query(360px) {
                font-size: 18px; 
            } 
        }
        .price{
            position: absolute;
            top: 16px;
            right: 16px;
            width: fit-content;
            border-radius: 10px;
            font-size: 25px;
            font-weight: 600;
            line-height: 120%;
            letter-spacing: 1.25px;
            background-color: $dark-2;
            color: $white-2;
            padding: 12px;
            @include short-query(992px , 1399px) {
                font-size: 16px;
                padding: 6px;
            }
            @include short-query(575px , 767px) {
                font-size: 16px;
                padding: 6px;
            }
            @include media-query(360px) {
                font-size: 16px; 
                padding: 6px;
            } 
        }
        .cart-btn{
            position: absolute;
            left: 0;
            text-align: center;
            width: 100%;
            bottom: -100px;
            transition: $transition;
        }
        &:hover{
            .cart-btn{
                bottom: 24px;
                transition: $transition;
            }       
        }
    }
}
.product-slider{
    .product-card{
        margin: 0 16px 30px;
        position: relative;
        box-shadow: $soft-shadow;
        overflow: hidden;
        border-radius: 15px;
        .title{
            position: absolute;
            top: 16px;
            left: 16px;
            font-size: 25px;
            font-weight: 600;
            line-height: 120%;
            letter-spacing: 1.25px;
            color: $dark-2;
            @include media-query(390px) {
                font-size: 18px; 
            } 
        }
        .price{
            position: absolute;
            top: 16px;
            right: 16px;
            width: fit-content;
            border-radius: 10px;
            font-size: 25px;
            font-weight: 600;
            line-height: 120%;
            letter-spacing: 1.25px;
            background-color: $dark-2;
            color: $white-2;
            padding: 12px;
            @include media-query(390px) {
                font-size: 16px; 
                padding: 6px;
            } 
        }
        .cart-btn{
            position: absolute;
            left: 0;
            text-align: center;
            width: 100%;
            bottom: -100px;
            transition: $transition;
        }
        &:hover{
            .cart-btn{
                bottom: 24px;
                transition: $transition;
            }       
        }
    }
}