.product-detail{
    .product-image{
        position: relative;
        border-radius: 15px;
        @include media-query(992px) {
            margin-bottom: 64px;
        } 
        @include media-query(767px) {
            margin-bottom: 48px;
        }  
        @include media-query(492px) {
            margin-bottom: 32px;
        }  
        img{
            border-radius: 15px;
        }
        .wishlist-icon{
            position: absolute;
            left: 24px;
            top: 0;
            border-radius: 0 0 10px 10px;
            padding: 12px 16px 8px;
            background: $white-2;
            box-shadow: 0px 0px 0px 0px rgba(23, 31, 24, 0.08), 0px 2px 4px 0px rgba(23, 31, 24, 0.08), 0px 7px 7px 0px rgba(23, 31, 24, 0.07), 0px 16px 10px 0px rgba(23, 31, 24, 0.04), 0px 29px 11px 0px rgba(23, 31, 24, 0.01), 0px 45px 13px 0px rgba(23, 31, 24, 0.00);
            img{
                border-radius: 0;
            }
        }
    }
    .detail{
        .upper-row{
            display: flex;
            flex-wrap: wrap;
            gap: 64px;
            row-gap: 16px;
            align-items: center;
            margin-bottom: 32px;
            .title{
                font-size: 72px;
                font-family: $font-sec;
                font-weight: 400;
                line-height: 98%;
                color: $dark-2;  
                @include media-query(1700px) {
                    font-size: 64px;
                }          
                @include short-query(992px , 1599px) {
                    font-size: 48px;
                }
                @include media-query(767px) {
                    font-size: 48px;
                }  
                @include media-query(492px) {
                    font-size: 40px;
                }
            }
            .price{
                color: $white-3;
                font-size: 25px;
                font-weight: 600;
                line-height: 120%;
                letter-spacing: 1.25px;
                padding: 16px 24px;
                background: $dark-2; 
                border-radius: 5px;  
                @include short-query(992px , 1599px) {
                    font-size: 22px;
                    padding: 12px 16px;
                } 
                @include media-query(767px) {
                    font-size: 22px;
                    padding: 12px 16px;
                }  
                @include media-query(767px) {
                    font-size: 18px;
                    padding: 8px 12px;
                }  
                         
            }
        }
        p{
            color: $dark-gray; 
            margin-bottom: 64px;   
            @include short-query(992px , 1599px) {
                margin-bottom: 32px; 
            }   
            @include media-query(492px) {
                margin-bottom: 32px; 
            } 
            br{
                @include media-query(492px) {
                    display: none;
                } 
            }      
        }
        .detail-blocks{
            width: 75%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: start;
            row-gap: 32px;
            margin-bottom: 32px;
            @include short-query(992px , 1599px) {
                margin-bottom: 24px;
            } 
            @include media-query(492px) {
                margin-bottom: 24px;
                width: 100%;
            }  
            .block{
                .block-title{
                    font-size: 25px;
                    font-weight: 400;
                    line-height: 120%;
                    letter-spacing: 1.25px;
                    color: $dark-gray; 
                    margin-bottom: 8px; 
                    @include short-query(992px , 1599px) {
                        font-size: 22px;
                    }  
                    @include media-query(767px) {
                        font-size: 22px;
                    }             
                }
                h5{
                    font-size: 25px;
                    font-family: $font-sec;
                    font-weight: 400;
                    line-height: 120%;
                    color: $dark-2; 
                    letter-spacing: 1.25px;  
                    @include short-query(992px , 1599px) {
                        font-size: 22px;
                    }    
                    @include media-query(767px) {
                        font-size: 22px;
                    }            
                }
                .color{
                    display: flex;
                    list-style: none;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 8px;
                    padding-left: 0;
                    margin-bottom: 0;
                    li{
                        display: inline-block;
                        list-style: none;
                        cursor: pointer;
                        input {
                            display: none;
                        }
                        .color {
                            cursor: pointer;
                            width: 28px;
                            height: 28px;
                            border-radius: 5px;
                        }
                        &.coloractive{
                            .color {
                                width: 43px;
                                height: 43px;
                                border-radius: 5px;
                            }   
                        }
                    }
                }
            }
        }
        .sizes{
            margin-bottom: 64px;
            @include short-query(992px , 1599px) {
                margin-bottom: 48px;
            }
            @include media-query(492px) {
                margin-bottom: 32px;
            } 
            .block-title{
                font-size: 25px;
                font-weight: 400;
                line-height: 120%;
                letter-spacing: 1.25px;
                color: $light-gray; 
                margin-bottom: 8px; 
                @include short-query(992px , 1599px) {
                    font-size: 22px;
                } 
                @include media-query(767px) {
                    font-size: 22px;
                }              
            }
            .size{
                display: flex;
                gap: 32px;
                margin-bottom: 0;
                list-style: none;
                padding: 0;
                li{
                    width: 114px;
                    text-align: center;
                    align-items: center;
                    border-radius: 5px;
                    background: $white-3;
                    color: $light-gray;
                    padding: 8px 0;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 25.60px;
                    cursor: pointer;
                    &.active{
                        background: $white-1;
                        box-shadow: 0px 0px 0px rgba(23, 31, 24, 0.08);
                        color: $dark-1; 
                        border: 1px solid $dark-1;                         
                    }
                    
                }
            }
        }
        .bottom-row{
            display: flex;
            flex-wrap: wrap;
            gap: 48px;
            row-gap: 24px;
            align-items: center;
            .quantity{
                background: $white-1;
                display: flex;
                border-radius: 5px;
                height: 46px;
                input{
                    border: none;
                    width: 40px;
                    height: 46px;
                    text-align: center;
                    font-size: 25px;
                    font-weight: 600;
                    line-height: 120%;
                    letter-spacing: 1.25px;
                    margin: 0;
                    color: $dark-gray;
                    padding: 8px 12px;
                    background: $white-3;
                    border-width: 1px;
                    border-style: solid;
                    border-color: $dark-2;
                    &.decrement{
                        border-radius: 5px 0 0 5px;
                    }
                    &.number{
                        color: $dark-2;
                        border-width: 1px 0;
                        background: $white-1;
                    }
                    &.increment{
                        border-radius:  0 5px 5px 0;
                    }
                }
            }
        }
    }
    .detail-product-content{
        padding-top: 64px;
        .block-title{
            font-size: 25px;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: 1.25px;  
            margin-bottom: 32px;
            color: $dark-2;       
        }
        .review-box{
            margin-bottom: 64px;
            @include media-query(992px) {
                margin-bottom: 48px;
            }
            @include media-query(767px) {
                margin-bottom: 32px;
            }
            .upper-row{
                display: flex;
                align-items: center;
                gap: 32px;
                flex-wrap: wrap;
                margin-bottom: 8px;
                .user{
                    .name{
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 160%;
                        letter-spacing: 0.32px;
                        color: $dark-2;
                    }
                }
                .stars{
                    gap: 4px;
                    margin-bottom: 0px;
                    display: inline-block;
                    color: #DD962C;
                    font-size: 24px;
                    i{
                        color: #DD962C;
                        font-size: 24px;
                    }
                }
            }
            .review{
                color: $dark-gray;
            }
        }
        .more-review-block{
            .more-review-btn{
                display: inline-flex;
                font-size: 16px;
                font-weight: 500;
                line-height: 160%;
                letter-spacing: 0.32px;
                color: $light-gray;
                margin: 32px 0 64px;
                @include media-query(992px) {
                    margin-bottom: 48px;
                }
                @include media-query(767px) {
                    margin-bottom: 32px;
                }
                i{
                    font-size: 24px;
                    color: $light-gray;
                    margin-left: 16px;
                    transition: $transition-2;
                }
                &:hover{
                    i{
                        transition: $transition-2;
                        transform: rotate(90deg);
                    }
                }
            }
        }
        .review-form{
            @include media-query(992px) {
                margin-bottom: 48px;
            }
            @include media-query(767px) {
                margin-bottom: 32px;
            }
            .upper-row{
                display: flex;
                flex-wrap: wrap;
                row-gap: 16px;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 32px;
                h6{
                    font-size: 25px;
                    font-weight: 400;
                    line-height: 120%;
                    letter-spacing: 1.25px;
                    color: $dark-2;
                }
            }
        }
    }
}