.showdowns{
    background: url(../media/banner/showdowns.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 96px 0 170px;
    @include media-query(1199px) {
        padding: 80px 0;
    }
    @include media-query(768px) {
        padding: 60px 0;
    }
    @include media-query(490px) {
        padding: 40px 0;
    }
    .fixture{
        background: $dark-2;
        border-radius: 5px;
        padding: 24px;
        text-align: center;
        max-width: 242px;
        margin: 0 auto;
        margin-bottom: 110px;
        @include media-query(1199px) {
            margin-bottom: 32px;
        }
        h5{
            font-weight: 400;
            font-size: 25px;
            line-height: 120%;
            color: $white-2;
            font-family: $font-sec;
            letter-spacing: 0.05em; 
            margin-bottom: 8px;          
        }
        p{
            font-weight: 500;  
            color: $white-3;
        }
    }
    .teams{
        display: flex;
        justify-content: space-between;
        position: relative;
        background: $dark-2; 
        border-radius: 100px;
        height: 69px; 
        place-items: center;
        margin-bottom: 70px;
        @include media-query(1199px) {
            height: auto;
            background: transparent;
            justify-content: space-around;
        }
        @include media-query(767px) {
            flex-direction: column;
            margin-bottom: 0px;
        }
        h5{
            font-weight: 600;
            font-size: 31px;
            line-height: 118%;
            letter-spacing: 0.03em;
            color: $white-2;
            width: 100%;   
            display: inline-flex;
            place-items: center; 
            @include short-query(1200px , 1599px) {
                font-size: 24px;
            }  
            @include media-query(1199px) {
                display: flex;
                flex-direction: column;
            }
        }
        .team-1{
            h5{
                &::before{
                    margin-right: 16px;
                    content: "";
                    display: inline-block;
                    width: 196px; 
                    height: 150px; 
                    background-image: url('../media/team-logos/team-3.png');
                    background-size: cover; 
                    @include short-query(1200px , 1599px) {
                        width: 150px; 
                        height: 120px; 
                    }
                    @include media-query(1199px) {
                        margin-right: 0;
                        margin-bottom: 16px;
                    }
                }
            }
        }
        .team-2{
            h5{
                @include media-query(1199px) {
                    flex-direction: column-reverse;
                }
                &::after{
                    margin-left: 16px;
                    content: "";
                    display: inline-block;
                    width: 169px; 
                    height: 169px; 
                    background-image: url('../media/team-logos/team-4.png');
                    background-size: cover;
                    @include short-query(1200px , 1599px) {
                        width: 150px; 
                        height: 150px; 
                    }
                    @include media-query(1199px) {
                        margin-left: 0;
                        margin-bottom: 16px;
                    }
                }
            }
        }
        .vs-logo{
            position: absolute;
            left: 42%;
            z-index: 5;
            @include short-query(1300px , 1599px) {
                width: 150px; 
                top: -57px;
            }
            @include short-query(1200px , 1299px) {
                width: 100px; 
                top: -33px;
            }
            @include media-query(1199px) {
                position: relative;
                left: unset;
            }
            @include media-query(767px) {
                margin: 32px 0;
            }
        }
    }
}
.showdowns-2{
    background: url(../media/banner/showdowns.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 96px 0;
    .content{
        border-radius: 15px;
        .teams{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 64px;
            background: $dark-2;
            padding: 64px 0;
            border-radius: 15px 15px 0 0;
            @include short-query(1200px , 1599px) {
                gap: 48px;
            }
            @include media-query(1199px) {
                flex-direction: column;
            }
            @include media-query(767px) {
                gap: 48px;
                padding: 48px 0;
            }
            @include media-query(575px) {
                padding: 32px 0;
                gap: 32px;
            }
            .team{
                display: flex;
                gap: 16px;
                align-items: center;
                justify-content: start;
                @include media-query(1199px) {
                    justify-content: center;
                }
                h5{
                    font-weight: 700;
                    font-size: 39px;
                    line-height: 110%;
                    letter-spacing: -0.01em;
                    color: $white-3;
                    margin-bottom: 0;
                    @include short-query(1400px , 1599px) {
                        font-size: 32px;
                    }
                    @include short-query(1200px , 1399px) {
                        font-size: 24px;
                    }
                    @include media-query(1199px) {
                        font-size: 36px;
                    }
                    @include media-query(992px) {
                        font-size: 32px;
                    }
                    @include media-query(767px) {
                        font-size: 30px;
                    }
                    @include media-query(575px) {
                        font-size: 24px;
                    }
                }
            }
            .bold-text{
                font-weight: 400;
                font-size: 76px;
                line-height: 98%;
                letter-spacing: -0.015em;
                font-family: $font-sec;   
                color: $white-3; 
                margin-bottom: 0;
                padding-top: 10px;
                align-items: center;
                @include short-query(1400px , 1599px) {
                    font-size: 64px;
                }
                @include short-query(1200px , 1399px) {
                    font-size: 56px;
                }
                @include media-query(1199px) {
                    font-size: 64px;
                }
            }
        }
        .venue{
            display: flex;
            justify-content: center;
            gap: 32px; 
            background: $gradient;
            padding: 16px 0;
            border-radius: 0 0 15px 15px;
            @include media-query(767px) {
                flex-direction: column;
                gap: 16px;
            }
            p{
                font-size: 25px;
                font-weight: 600;
                line-height: 120%;
                letter-spacing: 1.25px;
                color: $dark-2;
                @include media-query(767px) {
                    padding: 0 16px;
                }
            }          
        }
    }
}