.signup{
    background: url(../media/banner/signup.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .link{
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: 0.32px;
        color: $light-gray;
        text-align: center;
        a{
            color: $dark-2;      
            font-weight: 500;
            transition: $transition;
            &:hover{
                color: $accent-1;
                transition: $transition;
            }
        }
    }
    .title{
        font-size: 39px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: -0.39px;       
        color: $dark-2;
        margin-bottom: 64px;
        @include short-query(1200px , 1399px) {
            font-size: 32px;
        }
        @include media-query(492px) {
            font-size: 32px;
            margin-bottom: 32px;
        }
    }
    .con-block{
        display: flex;
        padding: 16px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        margin: 0 auto;
        color: $dark-2;
        border-radius: 15px;
        background-color: $white-2;
        margin-bottom: 32px;
        max-width: 271px;
        &.mb-64{
            margin-bottom: 64px;
        }
    }
    .formGroup2 {
        display: block;
        max-width: 350px;
        margin: 0 auto;
        @include media-query(492px) {
            text-align: start;
        }
        input {
            padding: 0;
            height: initial;
            width: initial;
            margin-bottom: 0;
            display: none;
            cursor: pointer;
        }
        label {
            position: relative;
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;
            line-height: 160%;
            letter-spacing: 0.32px;
            color: $dark-2;
            @include media-query(492px) {
                font-size: 14px;
            }
        }
        label:before {
            content: "";
            -webkit-appearance: none;
            border: 1px solid $dark-2;
            border-radius: 5px;
            padding: 10px;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            cursor: pointer;
            margin-right: 14px;
            margin-top: -3px;
        }
        input:checked + label:after {
            content: "";
            display: block;
            position: absolute;
            top: 2px;
            left: 12px;
            width: 6px;
            height: 16px;
            z-index: 10;
            border: solid $dark-2;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            @include media-query(492px) {
                left: 8px;
            }
        }
    }
}