{% extends 'base1.html.twig' %}

{% block title %}Edit MarketPlace{% endblock %}

{% block body %}
    <h1 style="padding-top: 4rem;">Edit MarketPlace</h1>

    <div style="padding: 2rem;">
        {{ include('market_place/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_market_place_indexback') }}">back to list</a>

        {{ include('market_place/_delete_form.html.twig') }}
    </div>
{% endblock %}