{% extends 'base1.html.twig' %}

{% block title %}New MarketPlace{% endblock %}

{% block body %}
    <h1 style="padding-top: 4rem; ">Create new MarketPlace</h1>
 <div style="padding: 2rem;">
    {{ include('market_place/_form.html.twig') }}

    <a href="{{ path('app_market_place_indexback') }}">back to list</a>
    </div>
{% endblock %}
