/*----------------------------------------*/
/*  04. ANIMATION CSS START
/*----------------------------------------*/
@-webkit-keyframes lfet-right {

    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
        background: url(../media/animate/bold-right.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@-moz-keyframes lfet-right {

    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
        background: url(../media/animate/bold-right.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@-o-keyframes lfet-right {

    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
        background: url(../media/animate/bold-right.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

