{% extends 'admindash/index.html.twig' %}

{% block title %}New Avis{% endblock %}

{% block body %}
    <h1>Create new Avis</h1>

    {{ include('reviews/_form.html.twig') }}

    <a href="{{ path('app_avis_index') }}">back to list</a>
{% endblock %}
