{% extends 'admindashReclamation/index.html.twig' %}

{% block title %}Edit Messages{% endblock %}

{% block body %}

    <h1>Edit Messages</h1>


    {{ include('admindashReclamation/M_form.html.twig', {'button_label': 'Update'}) }}
       {{ include('admindashReclamation/M_delete.html.twig') }}


    <a href="{{ path('SASA') }}">back to list</a>

    </div>
{% endblock %}
