{# templates/notification.html.twig #}
{% extends 'admindashReclamation/index.html.twig' %}

{% block body %}
    <div class="notification bg-primary rounded-circle">
        <div class="notification-content">
            <h3>Nouvelle notification</h3>
            <p>Votre réclamation a été traitée avec succès !</p>
        </div>
        <button class="close-notification">Fermer</button>
    </div>
{% endblock %}