.heading{
    width: max-content;
    margin-bottom: 32px;
    @include media-query(1199px) {
        margin-bottom: 28px;
    }
    @include media-query(767px) {
        margin-bottom: 24px;
    }
    @include media-query(575px) {
        margin-bottom: 20px;
    }
    @include media-query(400px) {
        width: auto;
    }
    &.mb-64{
        margin-bottom: 64px;
        @include media-query(1199px) {
            margin-bottom: 56px;
        }
        @include media-query(767px) {
            margin-bottom: 44px;
        }
        @include media-query(575px) {
            margin-bottom: 32px;
        }
    }
    h2{
        font-family: $font-sec;
        font-weight: 400;
        font-size: 76px;
        line-height: 98%;
        letter-spacing: -0.015em;
        color: $dark-2;
        margin-bottom: 8px;
        @include media-query(1399px) {
            font-size: 64px;
        }
        @include media-query(992px) {
            font-size: 56px;
        }
        @include media-query(767px) {
            font-size: 48px;
        }
        @include media-query(575px) {
            font-size: 40px;
        }
        @include media-query(492px) {
            font-size: 36px;
        }  
    } 
    p{
        text-align: right;
        font-weight: 400;
        font-size: 25px;
        line-height: 120%;
        letter-spacing: 0.05em;
        margin-bottom: 0;
        color: $dark-gray; 
        @include media-query(1399px) {
            font-size: 23px;
        } 
        @include media-query(992px) {
            font-size: 22px;
        }
        @include media-query(767px) {
            font-size: 22px;
        }
        @include media-query(575px) {
            font-size: 20px;
        }
        @include media-query(492px) {
            font-size: 18px;
        }     
        @include media-query(400px) {
            text-align: left;
        }     
    }
    &.short{
        h2{
            @include short-query(1400px , 1599px) {
                font-size: 64px;
            }       
        }
    }
}