<form method="post" action="{{ path('app_tournois_back_delete', {'idTournois': tournoi.idTournois}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tournoi.idTournois) }}">
    <button type="submit" class="btn btn-danger w-100 py-8 fs-4 mb-4 rounded-2" class="btn">Delete</button>
</form>
